{% extends 'base.html.twig' %}

{% block title %}MustDoDiving.com | {{ page_name }} {% endblock %}

{% block body %}
    <div class="container">

        <div class="content-area">

            <h4>{{ page_name }}</h4>

            <p>
                I, John Restivo was born across the street from the ocean in Laguna Beach California and my whole life i have been drawn to the ocean.  I grew up boogie boarding and then surfing when I was 12 years old. Even though I loved the ocean, I was scared what I could not see under the water. Even as a child, in the deepend of the swimming pool I was nervous in my own backyard. Although I had this fear of what I could not see under the water. I still continued to be around the ocean. After high school I became very involved in kayaking, outrigger paddling and surf ski’s.  I ended up going on a paddle trip to Fiji with my best friend and we were encouraged to learn how to scuba dive for this trip. And it was amazing and I fell in love with what is under the water. Soon after I started to take pictures with a little “point and click” camera and I continued to go on more and more dive trips and getting more and more into photography and videography. I found I love to swim and film whales. That has become my passion. I have been fortunate to be able to swim with Blue Whales, Orcas (even if not technically a whale), Humpbacks, Southern Right Whales, Humpbacks, and Pilot Whales. I plan to continue to try to put myself in position to study and learn more about whales and sea life in general.
            </p>


        </div>


    </div>
{% endblock %}