{% extends 'base.html.twig' %}

{% block title %}MustDoDiving.com | {{ page_name }} {% endblock %}

{% block body %}
    <div class="container">

        <div class="content-area">

            <h4>{{ page_name }}</h4>

            <ul>
                <li>Filming whales around the world for “Close Encounters with Whales”</li>

                <li>Documentary Film on the South African Sardine Run.</li>
            </ul>

        </div>


    </div>
{% endblock %}