{% extends 'base.html.twig' %}

{% block title %}MustDoDiving.com | {{ page_name }} {% endblock %}

{% block body %}
    <div class="container">

        <div class="content-area">

            <h4>{{ page_name }}</h4>

            <ul>
                <li>Canon C200</li>
                <li>Canon 1DX mark iii</li>
                <li>Canon 1Dx mark ii</li>
                <li>Nikon D850</li>
                <li>Fuji XT3</li>
                <li>Action Cameras</li>
                <li>Nauticam Housing</li>

            </ul>


        </div>


    </div>
{% endblock %}