{% extends 'base.html.twig' %}

{% block title %}MustDoDiving.com | {{ page_name }} {% endblock %}

{% block body %}
    <div class="container">

        <div class="content-area">

            <h4>{{ page_name }}</h4>

            <ul>
                <li>Baja Mexico</li>

                <li>South Africa</li>

            </ul>


        </div>


    </div>
{% endblock %}